body
{
	background-color:#d8d8d8;
	margin:0px;
}
.content
{
	width:950px;
	margin-left:auto;
	margin-right:auto;
}
.projectContent
{
	margin: 20px 0px;
}
.projectContent h2
{
	font-family: "Impact", Charcoal, serif;
	text-shadow: 0 3px 2px #000;
	font-weight: normal;
}
.projectContent a
{
	text-decoration:none;
	color:#fff;
}
.projectContent a:hover
{
	color: #ff4d4d;
}
/* .projectDetails
{
	display:none;
}
.projectContent:hover .projectDetails
{
	display:block;
} */
#headerContainer
{
	text-align:center;
	background-color:#5E7D7E;
	color:#fff;
	/* text-shadow: 0 1px 2px; */
	/* border:1px solid #000; */
	padding:10px 10px;
	clear:both;
}
div.headerHub
{
	text-align:center;
	color:#fff;
	padding:10px 10px;
	clear:both;
	background-color:#775e7e;
}
div.header2048
{
	text-align:center;
	color:#fff;
	padding:10px 10px;
	clear:both;
	background-color:#5E7D7E;
}
div.headerGOL
{
	text-align:center;
	color:#fff;
	padding:10px 10px;
	clear:both;
	background-color:#34619e;
}
div.headerTGOLBG
{
	text-align:center;
	color:#fff;
	padding:10px 10px;
	clear:both;
	background-color:#893a3a;
}
span.headerTitle
{
	font-family: "Impact", Charcoal, serif;
	font-size: 25px;
	color:#fff;
	text-shadow: 0 3px 2px #000;
}
#naviItems
{
	text-align: center;
}
#naviItems ul
{
	display:inline-block;
	list-style:none;
	padding:0px;
}
#naviItems li
{
	display:inline;
}
#naviItems a
{
	font-weight: bold;
	text-decoration:none;
	color:#fff;
	display:inline;
	padding:0 15px;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
}
#naviItems a:hover
{
	color: #ff4d4d;
}

#contentContainer
{
	text-align:center;
	background-color:#303030;
	color:#FEFCFF;
	padding:10px 10px;
	clear:both;
}
#gameDetails
{
	font-size: 26px;
	padding-bottom: 10px;
}
#boardCanvas
{
	background-image: url('boardFinalV2.jpg');
}
.gameCanvas
{
	border:1px solid #fff;
	background-color:#eee;
}
#hiddenGameControls
{
	margin-left:auto;
	margin-right:auto;
	clear:both;
	padding:5px;
	display:none;
}
#gameControls
{
	margin-left:auto;
	margin-right:auto;
	clear:both;
	padding:5px;
}
.control
{
	width: 100px;
	padding:5px;
	background-color:#fff;
	color:#000;
}
#gameGuide{
	padding:5px;
	background-color:#fff;
	color:#000;
	display: none;
	text-align:left;
}
#footerContainer
{
	text-align:center;
	font-style:italic;
	background-color:#d8d8d8;
	padding:10px 10px;
	margin-top:5px;
}
#footerContainer .footerDesc
{
	font-family: "Impact", Charcoal, serif;
	font-size: 20px;
	font-style: normal;
	color:#000;
}
#footerContainer .footerContent
{
	display:none;
}
#footerContainer:hover .footerDesc
{
	display:none;
}
#footerContainer:hover .footerContent
{
	display:block;
}




